.featured-hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none !important;
  z-index: 0 !important;
}

.hero-video-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  overflow: hidden;

  pointer-events: none !important;
  z-index: 0 !important;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border: none;

  pointer-events: none !important;
  z-index: 0 !important;
}

.play-btn {
  position: absolute;
  bottom: 8%;
  left: 5%;
  z-index: 5 !important;

  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  pointer-events: auto !important;
}

.play-btn:hover {
  background-color: #8fffe3;
  color: #000;
}

.hero-toggle-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 6 !important;

  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #8fffe3;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;

  pointer-events: auto !important;
}

.hero-toggle-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
